services:
  db:
    image: postgres:15
    container_name: petconnect_db
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: petconnect
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

backend:
    build: ./backend
    container_name: petconnect_backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=petconnect
      - DB_PORT=5432
    depends_on:
      - db
    volumes:
      - ./backend/src:/app/src

frontend:
  build: ./frontend
  container_name: petconnect_frontend
  restart: always
  ports:
    - "8080:80"
volumes:
  dbdata: