* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: #ffffff;
    color: #222121;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

header {
    background-color: #ff914d;
    color: rgb(255, 255, 255);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.usuarioPerfil {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding: 30px;
}

.perfil {
    grid-column: span 2;
    text-align: center;
    background-color: #ffe2cc;
    padding: 20px;
    border-radius: 10px;
}

.fotoPerfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

h3 {
    margin-bottom: 10px;
    color: #ff914d;
}

#misPublicaciones {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
}

.publicacion {
    background-color: #ff914d;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.publicacion img {
    width: 50%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
}

.eliminarBoton {
    position: absolute;
    top: 8px;
    right: 10px;
    background: #ff5252;
    border: none;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#galeriaMascotas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 0;
}

.mascota {
    text-align: center;
    background-color: #ff914d;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.mascota img {
    width: 90%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

#modalEditar {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.4);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1000;
}

#modalEditar .contenidoModal {
    background:white;
    padding:20px;
    border-radius:10px;
    width:400px;
}

#modalEditar .cerrar {
    float:right;
    font-size:20px;
    cursor:pointer;
}